* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 30px;
  background-color: wheat;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 50px auto;
  border: 1px solid black;
  background-color: #000033;
  padding: 10px;
  color: lightsteelblue;
}

.header {
  font-variant: small-caps;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px;
}

.questions {
  display: flex;
  flex-direction: column;
}

.expression {
  padding: 5px 10px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  border: 1px solid lightsteelblue;
  color: whitesmoke;
}

.question {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  padding: 5px 10px;
  width: 70px;
  background-color: gray;
  color: whitesmoke;
}

button.reload {
  width: 100px;
}

button:hover {
  background-color: navy;
}

.is-correct {
  width: 40px;
  border: 1px solid lightsteelblue;
  text-align: center;
}

/* media queries */
@media only screen and (max-width: 1000px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}
